if PLATFORM_AVIONIC_DESIGN_XANTHOS

choice
	prompt "Avionic Design Xanthos"

config PLATFORM_AVIONIC_DESIGN_XANTHOS_MEDCOM
	bool "Avionic Design Med@com"

endchoice

source "platforms/avionic-design/xanthos/medcom/Kconfig"

endif
