if PLATFORM_AVIONIC_DESIGN

choice
	prompt "Avionic Design"

config PLATFORM_AVIONIC_DESIGN_XANTHOS
	bool "Xanthos"

config PLATFORM_AVIONIC_DESIGN_MEDATOM
	bool "Med@om"

endchoice

source "platforms/avionic-design/xanthos/Kconfig"
source "platforms/avionic-design/med@om/Kconfig"

endif
