[Unit]
Description=Interface Link Status Monitor for Ethernet Bridge

[Service]
Type=simple
ExecStart=/usr/sbin/iflinkd -i br0
StandardError=syslog

[Install]
WantedBy=network.target
