[Unit]
Description=Interface Link Status Monitor for guest Ethernet Bridge

[Service]
Type=simple
EnvironmentFile=/persist/etc/vlan.conf
ExecStart=/usr/sbin/iflinkd -i br-guest
StandardError=syslog

[Install]
WantedBy=network.target
