[Unit]
Description=LLDP Daemon

[Service]
EnvironmentFile=-/persist/etc/lldpd.env
ExecStart=/usr/sbin/lldpd -d -x -M 1 $OPTIONS
Sockets=lldpd.socket
StandardError=syslog

[Install]
WantedBy=multi-user.target
