[Unit]
Description=LLDP Daemon

[Service]
ExecStart=/usr/sbin/lldpd -d -x -M 1
Sockets=lldpd.socket
StandardError=syslog

[Install]
WantedBy=multi-user.target
