[unit]
Description=Update MIME Type DB

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/lib/systemd/update-mime-db

[Install]
WantedBy=graphical.target
