[Unit]
Description=NSC database directory
Before=local-fs.target

[Mount]
What=tmpfs
Where=/var/db/nscd
Type=tmpfs
Options=mode=755

[Install]
WantedBy=local-fs.target
