[Unit]
Description=Enable compressed swap in memory using zram
After=basic.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/zramstart
ExecStop=/usr/bin/zramstop
Type=oneshot

[Install]
WantedBy=basic.target
