#
# sshd config for the medcom terminals
#

# Move the host keys to /persist/etc/ssh/
HostKey /persist/etc/ssh/ssh_host_key
HostKey /persist/etc/ssh/ssh_host_rsa_key
HostKey /persist/etc/ssh/ssh_host_dsa_key
HostKey /persist/etc/ssh/ssh_host_ecdsa_key

# Default for new installations.
UsePrivilegeSeparation sandbox

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server
