config PLATFORM_AVIONIC_DESIGN_MEDATOM_INSTALL
	bool "Avionic Design Medatom Installer Ramdisk"
	select PACKAGE_CORE_BUSYBOX
	select PACKAGE_CORE_SYSLINUX
	select PACKAGE_CORE_UDEV
	select PACKAGE_CORE_UTIL_LINUX
	select PACKAGE_LIBS_DBUS
	select PACKAGE_NET_OPENSSH
	select PACKAGE_UTIL_ADAK
	select PACKAGE_UTIL_FLASHROM
	select PACKAGE_UTIL_FLASHTOOL
	select PACKAGE_UTIL_MEDATOM_UTILS
	select PLATFORM_GENERIC_INSTALL
