if PLATFORM_AVIONIC_DESIGN_PLUTUX

choice
	prompt "Avionic Design Plutux"

source "platforms/avionic-design/plutux/initrd/Kconfig"
source "platforms/avionic-design/plutux/rootfs/Kconfig"

endchoice

source "platforms/avionic-design/plutux/binaries/Kconfig"

endif
