#
# sshd config for the medcom terminals
#

# Move the host keys to /persist/etc/ssh/
HostKey /persist/etc/ssh/ssh_host_rsa_key
HostKey /persist/etc/ssh/ssh_host_ed25519_key

# Use a global authorized_keys from /persist
AuthorizedKeysFile	/persist/etc/ssh/authorized_keys

# Allow root login via password
PermitRootLogin yes

# Default for new installations.
UsePrivilegeSeparation sandbox

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server
