[Unit]
Description=LLDP Daemon

[Service]
ExecStart=/usr/sbin/lldpd -d -M 1 -O PD:4:1:2:255
Sockets=lldpd.socket
StandardError=syslog

[Install]
WantedBy=multi-user.target
