[Unit]
Description=Library Directory
Before=local-fs.target

[Mount]
What=tmpfs
Where=/var/lib
Type=tmpfs
Options=mode=755

[Install]
WantedBy=local-fs.target
