[Unit]
Description=Durable Temporary Directory
Before=local-fs.target

[Mount]
What=tmpfs
Where=/var/tmp
Type=tmpfs
Options=mode=755

[Install]
WantedBy=local-fs.target
