if PLATFORM_AVIONIC_DESIGN_TAMONTEN_PLUTUX

choice
	prompt "Avionic Design Plutux"

source "platforms/avionic-design/tamonten/plutux/initrd/Kconfig"
source "platforms/avionic-design/tamonten/plutux/rootfs/Kconfig"

endchoice

endif
