if PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE

choice
	prompt "Avionic Design Medcom-Wide"

source "platforms/avionic-design/medcom-wide/initrd/Kconfig"
source "platforms/avionic-design/medcom-wide/rootfs/Kconfig"

endchoice

endif
