config PLATFORM_AVIONIC_DESIGN_MEDATOM_NG_ROOTFS
	bool "Root Filesystem"
	select PACKAGE_BUILD_TOOLS_SQUASHFS
	select PACKAGE_CORE_SYSTEMD
	select PACKAGE_CORE_RSYSLOG
	select PACKAGE_DESKTOP_AWESOME
	select PACKAGE_NET_REMOTE_CONTROL
