[Unit]
Description=ALSA Configuration
DefaultDependencies=no
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/alsactl restore

[Install]
WantedBy=basic.target
