[Unit]
Description=Interface Link Status Monitor for Wireless Interface

[Service]
Type=simple
ExecStart=/usr/sbin/iflinkd -i wlan0
StandardError=syslog

[Install]
WantedBy=network.target
