[Unit]
Description=Set time via NTP
After=syslog.target network.target
Before=time-sync.target
Wants=time-sync.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ntpdate -p 1 pool.ntp.org
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
