[Unit]
Description=NVIDIA Resource Manager
DefaultDependencies=no
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/nvrm_daemon --daemon

[Install]
WantedBy=basic.target
