[Unit]
Description=Update CronTab
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/lib/systemd/update-crontab

[Install]
WantedBy=multi-user.target
