CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_CPU_CORTEX_A9=y
CONFIG_ARCH_TEGRA_2x_SOC=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_OS_LINUX=y
CONFIG_PLATFORM_AVIONIC_DESIGN=y
CONFIG_PACKAGE_KERNEL_LINUX_CONFIG="tegra_defconfig"
CONFIG_PLATFORM_AVIONIC_DESIGN_TEC=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT_URL="git://github.com/avionic-design/linux-l4t.git"
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_GIT_CHECKOUT="tamonten/l4t-r16-3"
CONFIG_PACKAGE_KERNEL_LINUX_BUILD_DTBS=y
CONFIG_PACKAGE_KERNEL_LINUX_DTB="tegra20-tec"
CONFIG_PACKAGE_CORE_BASE_FILES=y
CONFIG_PACKAGE_UTIL_ADAK=y
