CONFIG_ARCH_ARM=y
CONFIG_MARCH=""
CONFIG_ARCH_ARM_CPU_CORTEX_A9=y
CONFIG_ARCH_TEGRA_2x_SOC=y
CONFIG_ARCH_ARM_ABI_EABI=y
CONFIG_ARCH_ARM_ARCH_V7=y
CONFIG_OS_LINUX=y
CONFIG_GLIBC=y
CONFIG_PLATFORM_AVIONIC_DESIGN=y
CONFIG_PACKAGE_KERNEL_LINUX_CONFIG="tegra_defconfig"
CONFIG_PLATFORM_AVIONIC_DESIGN_TAMONTEN=y
CONFIG_PLATFORM_AVIONIC_DESIGN_TAMONTEN_TEC=y
CONFIG_PLATFORM_AVIONIC_DESIGN_TAMONTEN_TEC_ROOTFS=y
CONFIG_PACKAGE_BUILD_TOOLS_GDK_PIXBUF=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL=y
CONFIG_PACKAGE_KERNEL_LINUX_SOURCE_LOCAL_PATH="../kernel/linux-ipmp.git"
CONFIG_PACKAGE_KERNEL_LINUX_BUILD_DTBS=y
CONFIG_PACKAGE_KERNEL_LINUX_DTB="tegra20-tec"
CONFIG_PACKAGE_DEVEL_GDB=y
CONFIG_PACKAGE_DEVEL_STRACE=y
CONFIG_PACKAGE_CORE_BASE_FILES=y
CONFIG_PACKAGE_CORE_BUSYBOX=y
CONFIG_PACKAGE_CORE_COREUTILS=y
CONFIG_PACKAGE_CORE_LESS=y
CONFIG_PACKAGE_CORE_LM_SENSORS=y
CONFIG_PACKAGE_CORE_PCIUTILS=y
CONFIG_PACKAGE_CORE_PROCPS=y
CONFIG_PACKAGE_CORE_PSMISC=y
CONFIG_PACKAGE_CORE_RSYSLOG=y
CONFIG_PACKAGE_CORE_UTIL_LINUX_PAM=y
CONFIG_PACKAGE_LIBS_LIBJPEG=y
CONFIG_PACKAGE_SHELLS_BASH=y
CONFIG_PACKAGE_NET_DHCPCD=y
CONFIG_PACKAGE_NET_ETHTOOL=y
CONFIG_PACKAGE_NET_IFLINKD=y
CONFIG_PACKAGE_NET_LLDPD=y
CONFIG_PACKAGE_NET_LLDPD_SNMP=y
CONFIG_PACKAGE_NET_NTPD=y
CONFIG_PACKAGE_NET_FUSE_SSHFS=y
CONFIG_PACKAGE_NET_TCPDUMP=y
CONFIG_PACKAGE_CONSOLE_KBD=y
CONFIG_PACKAGE_EDITORS_NANO=y
CONFIG_PACKAGE_EDITORS_VIM=y
CONFIG_PACKAGE_MULTIMEDIA_ALSA_UTILS=y
CONFIG_PACKAGE_MULTIMEDIA_GSTREAMER_PLUGINS_BASE=y
CONFIG_PACKAGE_XORG_DRIVER_INPUT_EVDEV=y
CONFIG_PACKAGE_XORG_DRIVER_INPUT_EVDEV_MULTITOUCH=y
CONFIG_PACKAGE_XORG_DRIVER_VIDEO_OPENTEGRA=y
CONFIG_PACKAGE_XORG_APP_EVTEST=y
CONFIG_PACKAGE_XORG_APP_SETXKBMAP=y
CONFIG_PACKAGE_XORG_APP_XAUTH=y
CONFIG_PACKAGE_XORG_APP_XINIT=y
CONFIG_PACKAGE_XORG_APP_XINPUT=y
CONFIG_PACKAGE_XORG_APP_XKBCOMP=y
CONFIG_PACKAGE_XORG_APP_XRANDR=y
CONFIG_PACKAGE_XORG_APP_XSET=y
CONFIG_PACKAGE_XORG_APP_XTERM=y
CONFIG_PACKAGE_XORG_APP_XVINFO=y
CONFIG_PACKAGE_XORG_DATA_XKEYBOARD_CONFIG=y
CONFIG_XORG_DRI=y
CONFIG_XORG_GLX=y
CONFIG_XORG_XV=y
CONFIG_PACKAGE_DESKTOP_NODM=y
CONFIG_PACKAGE_DESKTOP_WAYLAND_WESTON=y
CONFIG_PACKAGE_WM_AWESOME=y
CONFIG_PACKAGE_WM_I3=y
CONFIG_PACKAGE_UTIL_ADAK=y
CONFIG_PACKAGE_UTIL_HTOP=y
CONFIG_PACKAGE_UTIL_I2C_TOOLS=y
CONFIG_PACKAGE_UTIL_MESA_DEMOS=y
CONFIG_PACKAGE_UTIL_MTD_UTILS=y
CONFIG_PACKAGE_FONTS_TTF_BITSTREAM_VERA=y
CONFIG_PACKAGE_FONTS_TTF_FREEFONT=y
CONFIG_PACKAGE_FONTS_TTF_LIBERATION=y
CONFIG_OPENGL_MESA_OPENGL_ES1=y
CONFIG_OPENGL_MESA_OPENGL_ES2=y
CONFIG_OPENGL_MESA_OPENGL=y
CONFIG_UDEV_SYSTEMD=y
