SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="08bb", ATTR{idProduct}=="29c6", RUN="/usr/sbin/handset add"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="08bb", ATTR{idProduct}=="29c6", RUN="/usr/sbin/handset remove"
