config PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE_ROOTFS
	bool "Root Filesystem"
	select PACKAGE_BUILD_TOOLS_SQUASHFS

if PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE_ROOTFS

config PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE_ROOTFS_DEFAULTS
	bool "defaults"
	select PACKAGE_VENDOR_NVIDIA_TEGRA2_L4T
	select PACKAGE_VENDOR_AVIONIC_DESIGN_RUM
	select PACKAGE_VENDOR_AVIONIC_DESIGN_MEDCOM_WIDE_UTILS
	select PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_AUDIO_ALSA
	select PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_BACKLIGHT_SYSFS
	select PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_VIDEO_VLC
	select PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_SMARTCARD_LIBSMARTCARD
	select PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_VOIP_LINPHONE
	select PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_GPIO_SYSFS
	select PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_JAVASCRIPT_APP_WATCHDOG
	select PACKAGE_VENDOR_AVIONIC_DESIGN_REMOTE_CONTROL_WATCHDOG
	select PACKAGE_MULTIMEDIA_GSTREAMER_0_10_PLUGINS_UGLY
	select PACKAGE_MULTIMEDIA_VLC_TELETEXT
	select PACKAGE_MULTIMEDIA_VLC_PLUGIN_GLES2
	select PACKAGE_WEB_WEBKIT_GTK_UNICODE_BACKEND_ICU
	select PACKAGE_WEB_WEBKIT_GTK_ENABLE_VIDEO
	select PACKAGE_CORE_BUSYBOX
	select PACKAGE_CORE_COREUTILS
	select PACKAGE_CORE_PROCPS
	select PACKAGE_CORE_SYSTEMD
	select PACKAGE_CORE_RSYSLOG
	select PACKAGE_LIBS_LIBSMARTCARD
	select PACKAGE_LIBS_SYSFSUTILS
	select PACKAGE_LIBS_GLIB_NETWORKING
	select PACKAGE_CONSOLE_KBD
	select PACKAGE_SHELLS_BASH
	select PACKAGE_NET_DDIP
	select PACKAGE_NET_DHCPCD
	select PACKAGE_NET_IFLINKD
	select PACKAGE_NET_LLDPD
	select PACKAGE_NET_NTPD
	select PACKAGE_NET_OPENSSH
	select PACKAGE_NET_PROXYCONF
	select PACKAGE_NET_WPA_SUPPLICANT
	select PACKAGE_EDITORS_NANO
	select PACKAGE_MULTIMEDIA_ALSA_UTILS
	select PACKAGE_DESKTOP_EVDEV_CALIBRATE
	select PACKAGE_DESKTOP_ICONS_TANGO
	select PACKAGE_DESKTOP_NODM
	select PACKAGE_XORG_APP_SETXKBMAP
	select PACKAGE_XORG_APP_XINIT
	select PACKAGE_XORG_APP_XKBCOMP
	select PACKAGE_XORG_DATA_XKEYBOARD_CONFIG
	select PACKAGE_XORG_DRIVER_INPUT_EVDEV
	select PACKAGE_XORG_DRIVER_INPUT_KEYBOARD
	select PACKAGE_XORG_DRIVER_INPUT_MOUSE
	select XORG_XV
	select PACKAGE_UTIL_ADAK
	select PACKAGE_WEB_X11VNC
	select PACKAGE_FONTS_TTF_BITSTREAM_VERA
	select PACKAGE_FONTS_TTF_FREEFONT
	select PACKAGE_FONTS_TTF_LIBERATION
	select HAVE_OPENGL_ES
	select VIRTUAL_OPENGL_ES
	select OPENGL_NVIDIA_L4T_T2
	select PACKAGE_WM_DWM
	select PACKAGE_WM_DWM_PATCH_REMOTE_CONTROL
	help
	  Default package selection for working rootfs

config PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE_ROOTFS_DEVEL
	bool "Development"
	select PACKAGE_CORE_PSMISC
	select PACKAGE_CORE_LESS
	select PACKAGE_CORE_GREP
	select PACKAGE_DEVEL_GDB
	select PACKAGE_DEVEL_STRACE
	select PACKAGE_CONSOLE_TMUX
	select PACKAGE_EDITORS_VIM
	select PACKAGE_UTIL_HTOP
	select PACKAGE_UTIL_I2C_TOOLS
	select PACKAGE_XORG_APP_EVTEST
	select PACKAGE_XORG_APP_XRANDR
	select PACKAGE_XORG_APP_XTERM
	help
	  Packages for development, can be dropped on release build

config PLATFORM_AVIONIC_DESIGN_MEDCOM_WIDE_ROOTFS_DEBUG
	bool "Debugging"
	select PACKAGE_CORE_E2FSPROGS
	select PACKAGE_NET_ETHTOOL
	select PACKAGE_NET_IPERF
	select PACKAGE_NET_TCPDUMP
	select PACKAGE_NET_FUSE_SSHFS
	help
	  Packages only used for debugging

endif
