[Unit]
Description=Temporary Directory
Before=local-fs.target

[Mount]
What=tmpfs
Where=/tmp
Type=tmpfs
Options=mode=755

[Install]
WantedBy=local-fs.target
