if PLATFORM_AVIONIC_DESIGN_TAMONTEN_TEC

choice
	prompt "Avionic Design Tamonten Evaluation Carrier"

source "platforms/avionic-design/tamonten/tec/initrd/Kconfig"
source "platforms/avionic-design/tamonten/tec/rootfs/Kconfig"

endchoice

endif
